<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  
  <ion-text color="primary">
    <h1>Novedades</h1>
  </ion-text>
    <ion-slides pager="true" [options]="slideOpts2">
      <ion-slide>
        <img src="../assets/test1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../assets/test1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../assets/test1.jpg" alt="">
      </ion-slide>
    </ion-slides>

    <ion-text color="primary">
      <h1>Ultimos Eventos</h1>
    </ion-text>
<div *ngFor='let evento of eventos'>

  <ion-card>
    <img src="{{evento.foto}}" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{evento.usuario}}</ion-card-subtitle>
      <ion-card-title>{{evento.nombre}}</ion-card-title>
      <ion-text color="primary">
        <h6>{{evento.fecha.seconds | date}}</h6>
      </ion-text>
    </ion-card-header>
  
    <ion-card-content>
      {{evento.contexto}}
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Comentar</ion-label>
      <ion-buttons slot="end">
        <ion-icon class="btnx" name="send"></ion-icon>
      </ion-buttons>
      <ion-input></ion-input>
     
    </ion-item>
  </ion-card>
  
</div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button   (click)="mostrarModel()" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

 

  
</ion-content>
